# Compiled Python files
*.pyc
__pycache__/

# PyQt5 compiled UI files
*.pyw
*.ui

# PyQt5 resource files
*.qrc

# PyQt5 translation files
*.ts
*.qm

# Virtual environment
venv/

# IDE-specific files
.vscode/
.idea/

# Build files
build/
dist/

# Logs
*.log

# Miscellaneous
.DS_Store